$red: #D64541;
$blue: #4183D7;
$green: #339966;
$purple: #663399;
$darkGrey: #363636;
$bodyBackground:  E4F1FE;

$doneColor: #449a88;
$notDoneColor: #fd5c63;

$rowColor:  white; 

$mobile-small-break: 320px;
$mobile-large-break: 767px;
$tablet-break: 1024px;


$ms-gtr-min-h: 200px;
$ms-gtr: 1px;

$ml-gtr-min-h: 300px;
$ml-gtr: 3px;

$tab-gtr-min-h: 320px;
$tab-gtr: 4px;

$desk-gtr-min-h: 250px;
$desk-gtr: 6px;
